body {
    margin: 0rem;
    background-image: url("../img/bg-primary.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

.navbar-container{
    background-color: #add8e6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-container-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem;
    padding: 0rem;
    align-items: center;
    font-family: 'PT Serif', serif;
}

.navbar-container-items li{
    list-style: none;
    font-size: 1.10rem;
    text-align: center;
    padding: 1rem;
}

.navbar-container-logo img{
    max-width: 5em;
    padding-left: 2em;
}


/*Link local inactivo*/
.navbar-container-items a:link{
    color: black;
    text-decoration: none;

}

/*Link local visitado*/
.navbar-container-items a:visited{
    color: black;
    text-decoration: none;

}

/*Link local activo (click)*/
.navbar-container-items a:active:hover{
    color: #307085; 
    border-bottom: solid #307085 1px;
}

/*Posicionamiento mouse sobre link*/
.navbar-container-items a:hover{
    color: #608591;
    border-bottom: solid #608591 1px;
}


/*Inicio-presentacion-Lotus*/ /*PRIMERA PRESENTACION*/ 

.primary-container{
    background-color: #a1c5d1;
    border-bottom: solid #144d60 5px;
    border-top: solid #144d60 5px;
}

.primary-container article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-img-lotus{
    max-width: 50%;
    height: auto;
}

.primary-container picture img{
    width: 100%;
    height: 100%;
}

.container-lotus{
    display:flex;
    flex-direction: column;
    background-color:#689dafa2;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
}

.title-lotus{
    font-size: 5em;
    font-family: 'PT Serif', serif;
    color: #144d60;
    margin-bottom: 0em;
    margin-top: 0em;
}

.container-lotus p{
    font-size: 1.5em;
    margin-top: 0.2em;
}

.btn-lotus{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0em;
    font-size: 1.25em;
}

.btn-lotus li{
    padding: 0.5em;
    color: #608591;
}

.btn-lotus a:link{
    color: black;
    text-decoration: none;
    padding: 0.5em;
    border: solid black 1px;
    border-radius: 0.5em;
}

.btn-lotus a:visited{
    color: black;
    text-decoration: none;
}

.btn-lotus a:active:hover{
    color: white;
    background-color: #144d60;
}

.btn-lotus a:hover{
    color: white;
    background-color: #608591;
}

/*Fin-presentacion-Lotus*/

.description-secondary{
    font-size: 1.25em;
    text-align: center;
    padding: 1em 9em;
    color: #307085;

}

.card-presentation h2{
    margin: 0rem;
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}

.card-presentation p{
    margin-top: 0.5em;
    color: #307085;
    text-align: center;
    font-size: 1.15rem;
    margin-bottom: 0rem;
}

.card-presentation{
    background-color: #d7e9f0;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.section-primary{
    display: flex;
    flex-direction: row;
    background-color: #d7e9f0;
}

.card{
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0.5rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.card p{
    margin-top: 0.1rem;
    font-size: 1.05rem;
    color:#144d60;
    padding: 0.5rem 2rem;
}

.card i{
    font-size: 5rem;
}

.card h3{
    font-size: 2rem;
    
}

.section-secondary{
    display: flex;
    flex-direction: row;
    background-color: #d7e9f0;
    margin-bottom: 4rem;
}

.card-2{
    flex-wrap: wrap;
    padding: 0rem;
    margin: 0.5rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.card-2 p{
    margin-top: 0.1rem;
    font-size: 1.05rem;
    color:#144d60;
    padding: 0rem 2rem;
}

.card-2 i{
    font-size: 3rem;
    color: #144d60;
    padding-top: 2rem;
}

/*media queries - max-width: 491px*/
@media (max-width: 491px) {
    body{
        background-image: url("../img/bg-primary-491.png");
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    
    .navbar-container{
        background-color: #add8e6;
        display: flex;
        flex-direction: column;
    }

    .navbar-container-items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0rem;
        margin-bottom: 0rem;
        padding: 0rem;
        justify-content: space-around;
        font-family: 'PT Serif', serif;
        background-color: rgb(142, 187, 202);
    }

    .navbar-container-logo{
        display: flex;
        justify-content: center;
    }

    .navbar-container-logo img{
        max-width: 6em;
        padding: 1rem;
        margin: 0rem;
    }

    .navbar-container-items li{
        display: inherit;
        text-align: center;
        list-style: none;
        font-size: 1.10rem;
        padding: .5rem; 
        
    }

    .container-lotus{
        display: flex;
        flex-wrap: wrap;
        font-size: 0.75rem;
        width: 100%;
    }

    .container-img-lotus{
        max-width: 100%;
        border-top: solid #144d60 5px;
        opacity: 0.8;
    }

    .btn-lotus{
        display: flex;
        font-size: 1.5em;
    }

    .section-secondary{
        flex-wrap: wrap;
    }

    .section-primary{
        flex-wrap: wrap;
    }

}

@media(max-width: 1200px){
    .description-secondary{
        font-size: 1.25em;
        text-align: center;
        padding: 1em 2.5em;
    }
}

